<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, voluptate dolorem? Dolores consequatur accusantium modi impedit soluta laborum et officia.</p>
    </div>
    <div class="card-body">
        <h5>Versão: 01.01.001</h5>
        <h5>Data da Versão: 25 de setembro de 2020</h5>
    </div>
</div>