<div class="card">
    <div class="card-body">
        <h1>Manual</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, voluptate dolorem? Dolores consequatur accusantium modi impedit soluta laborum et officia.</p>
        <h3>Tópico 1</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique est amet quos. Modi voluptatem quia architecto obcaecati repudiandae perferendis hic nobis praesentium, quod quos commodi dicta tempore nulla molestiae voluptas! Autem laborum nulla neque tenetur ea! Rem culpa voluptates aut. Fugit, eos! Harum aperiam accusantium hic consequuntur blanditiis, necessitatibus repellat!</p>
        <h3>Tópico 2</h3>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nihil error quibusdam cumque odio assumenda corporis ab voluptatibus, laboriosam magnam earum repudiandae iste reiciendis! Tempora necessitatibus itaque beatae, esse deserunt perferendis saepe, quo optio sed facere fugiat natus? Quos molestias saepe alias minus aperiam asperiores!</p>
    </div>
</div>